---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Project from "../components/Project.astro";
import Github from '/github.svg'
import LinkedIn from '/linkedin.svg'
import Email from '/email.svg'
import SectionHeader from "../components/SectionHeader.astro";
import Links from "../components/Links.astro";
---


<Layout title="Home">
	<Section id={"about"}>
		<p class="max-w-[600px] font-light text-xl">I am a full-stack web developer who is passionate about creating amazing user experiences with strong backends. I work professionally with Javascript and ABAP, however, I also have extensive experience with industry technologies such as C# .NET and React.</p>
	</Section>	

	<p class="p-7"></p>
	
	<Section id={"work"}>
		<SectionHeader title="My work"/>
		<div class="p-2"></div>
		<div class="flex flex-col sm:flex-row justify-between">
			<Project 
				title="LeoLang"
				tagline="Learn to read te reo MÄori with ease"
				tech="React, JS, CSS"
				img={'/leolang.png'}
				id={"1"}
			/>
			<p class="p-5"></p>
			<Project 
				title="KurzUrl"
				tagline="A simple url shortener service and interface"
				tech=".NET Core API, C#, JS"
				img={'/kurzurl.png'}
				id={"2"}
			/>
		</div>
	</Section>

	<p class="p-7"></p>

	<div id="contact" class="bg-offwhite flex flex-col sm:flex-row">
		<div class="sm:w-[50%] flex flex-col justify-evenly">
			<h1 class="text-5xl text-highlight">Lets connect!</h1>
			<div class="p-2 sm:p-5"></div>
			<p class="w-[75%]">If you want to grab a coffee for a quick chat. You can find me on social media or contact me here.</p>
			<div class="p-2 sm:p-5"></div>
			<Links/>
		</div>
		<div class="p-2"></div>
		<div class="sm:w-[50%]">
			<form class="flex flex-col" action="">
				<small>Name:</small>
				<input class="p-1 bg-secondary border-2 border-[#333] rounded-sm" type="text">
				<div class="p-1"></div>
				<small>Email:</small>
				<input class="p-1 bg-secondary border-2 border-[#333] rounded-sm" type="text">
				<div class="p-1"></div>
				<small>Message:</small>
				<textarea class="p-1 bg-secondary h-[100px] border-2 border-[#333] rounded-sm resize-none"/>
				<div class="p-1"></div>
				<button class="w-full bg-highlight text-white px-6 py-2 rounded-sm">Submit</button>
			</form>

		</div>
	</div>
</Layout>

