---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
---


<Layout title="Home">
	<main class="flex items-center justify-center h-screen p-5 sm:p-16">
		<div class="w-full text-center">
			<h1 class="text-6xl">Karl Gildenhuys</h1>
			<div class="p-2"></div>
			<h2 class="text-3xl text-orange-500">Web developer</h2>
			<div class="p-10"></div>
			<button class="p-3 text-xl bg-orange-500">My Projects</button>
		</div>
	</main>
	<section class="h-screen">
		<Project 
			name={"Apoteo"} 
			description={"ppp"}
		/>
	</section>
</Layout>

