---
export interface Props {
    name: string,
    description: string,
    img: string,
    reverse? : boolean
}
const { name, description, img, reverse } = Astro.props;
---

<div class="w-full bg-primary p-5 rounded-sm">
    <h1 class="text-3xl">{name}</h1>
    <p>{description}</p>
</div>