---
export interface Props {
    id:string,
    img:string,
    title:string,
    tagline:string,
    tech:string
}

const { id, img, title, tagline, tech } = Astro.props;
---
<a class="w-[50%]" href={`/projects/${id}`}>
    <div class="flex flex-wrap hover:border-b-highlight border-b-offwhite border-b-4 transition-ease duration-[0.3s] pb-1">
        <div class={`h-full  group flex flex-col justify-between`}>
            <div>
                <h2 class="text-3xl underline">{title}</h2>
                <p class="p-1"></p>
                <p class="text-lg">{tagline}</p>
            </div>
            <p class="p-1"></p>
            <small class="text-md">{tech}</small>
        </div>
    </div>

</a>
