---
export interface Props {
    id:string,
    img:string
}

const { id, img } = Astro.props;
---
<a href={`/projects/${id}`}>
    <div class={`w-full h-[250px] rounded-sm group bg-cover bg-center ${img}`}>
        <div class="hidden group-hover:block w-full h-full bg-shade p-5">
            <div class="w-full flex text-white justify-center items-center h-full">
                <p class="text-4xl">Click to see more!</p>
            </div>
        </div>
    </div>
</a>
