---
import Links from "../components/Links.astro";
---

<nav class="bg-offwhite p-5 w-full max-w-[900px]">
    <div class="flex justify-between items-center">
        <div class="flex">
            <a href="/Karl Gildenhuys - Resume.pdf" download><button class="bg-white text-xl text-black rounded-[100px] px-5 py-2 font-bold">Resume</button></a>
            <div class="p-5"></div>
                <Links/>
            <div class="p-2"></div>
        </div>
        <h1 class="font-title text-2xl hidden sm:block font-bold"> <span class="text-highlight">Karl</span>Gildenhuys</h1>
    </div>
</nav>