---
import '../assets/global.css'
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<nav class="absolute px-16 flex items-center w-screen h-[80px]">
			<li class="list-none mr-[10px] text-xl hover:text-orange-500"><a href="">Home</a></li>
			<li class="list-none mr-[10px] text-xl hover:text-orange-500"><a href="">Projects</a></li>
		</nav>
		<nav class="absolute top-0 right-0 w-[80px] h-screen flex flex-col justify-center">
			<ul class="h-[50%] w-[80px] bg-white flex flex-col items-center justify-evenly">
				<i>L</i>
				<i>G</i>
				<i>I</i>
			</ul>
		</nav>
		<slot />
	</body>
</html>
<style>
	html {
		font-family: system-ui, sans-serif;
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
